import React from 'react';
import styles from './{{camelCase name}}.styles.css';
import { {{pascalCase name}}Props } from './{{camelCase name}}.types';

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <div className={styles.container} data-testid="{{kebabCase name}}">
        {'/* My component code here */'}
    </div>
  );
};

export default {{pascalCase name}};