import styles from './{{camelCase name}}.module.css';
import type { {{pascalCase name}}Props } from './{{camelCase name}}.types';

const {{pascalCase name}} = ({ children, className }: {{pascalCase name}}Props) => {
  return (
    <div className={[styles.container, className].filter(Boolean).join(' ')} data-testid="{{kebabCase name}}">
      {children}
    </div>
  );
};

export default {{pascalCase name}};