import React from 'react';
import styles from './{{camelCase name}}.styles.css';

interface {{camelCase name}}Props {}

const {{camelCase name}}: React.FC<{{camelCase name}}Props> = () => {
  return (
    <div className={styles.container}>
        {'/* My component code here */'}
    </div>
  );
};

export default {{camelCase name}};